body {
  background: url("https://source.unsplash.com/1600x900/?nature,water") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #FFF;
  font-family: 'Roboto Mono', monospace;
}

#main {
  position: fixed;
  width: 75%;
  height: 25%;
  float: left;
  top: 30%;
  left: 10%;
  background-color:rgba(0, 0, 0, 0.5);
  box-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  padding: 2%;
}

#text {
  line-height: 1em;
  white-space: nowrap;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

